 {
     "plugins": [
        "@typescript-eslint",
        "jest",
        "promise"
     ],
    "extends": [
        "airbnb-typescript/base",
        "plugin:@typescript-eslint/recommended",
        "plugin:jest/recommended",
        "plugin:promise/recommended"
    ],
    "env": {
        "node": true,
        "jest": true,
        "es6": true
    },
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "consistent-return": "off",
        "eol-last": "off",
        "linebreak-style": ["error", "windows"],
        "quotes": "off",
        "no-console": "off",
        "@typescript-eslint/quotes": ["error", "double"],
        "import/prefer-default-export": "off",
        "import/no-default-export": "off",
        "spaced-comment": "off",
        "@typescript-eslint/explicit-function-return-type": [
            "error",
            { "allowExpressions": true, "allowTypedFunctionExpressions": true }
          ],
          "@typescript-eslint/no-use-before-define": [
            "error",
            { "functions": false, "classes": true, "variables": true, "typedefs": true }
          ],
        "promise/always-return": "off"
    }
}